{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Admin Panel - Edit Post {{ post.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article>
        <form method="post" class="row py-2">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ post.title }}">
            </div>

            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea id="body" name="body" class="form-control" rows="8">{{ post.body }}</textarea>
            </div>

            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ g.csrf_token }}">

            <input type="submit" class="btn btn-primary" value="Save Changes">
        </form>
    </article>
{% endblock %}
