{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Admin Panel - Edit Comment{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article>
        {% if form.errors %}
            {% import 'form-error.html' as errors %}
            {% for element in [form.body] %}
                {% for error in element.errors %}
                    {{ errors.alert(element, error) }}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <form method="post" class="row py-2" action="{{ url_for('admin.edit_comment', id=comment_id) }}">
            <div class="mb-3">
                {{ form.body.label }}
                {{ form.body(class_='form-control', rows=10) }}
            </div>

            {{ form.csrf_token }}

            <input type="submit" class="btn btn-primary" value="Save Changes">
        </form>
    </article>
{% endblock %}
