{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Admin Panel - Edit User {{ form.username.data }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article>
        {% if form.errors %}
            {% import 'form-error.html' as errors %}
            {% for element in [form.username, form.email] %}
                {% for error in element.errors %}
                    {{ errors.alert(element, error) }}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <form method="post" accept-charset="{{ url_for('admin.edit_user', id=user_id) }}" class="row py-2">
            {{ form.username.label }}
            {{ form.username(class_='form-control') }}

            {{ form.email.label }}
            {{ form.email(class_='form-control') }}

            {{ form.csrf_token }}

            <input type="submit" value="Save Changes" class="btn btn-primary mt-3">
        </form>
    </article>
{% endblock %}
