{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Admin Panel - Users{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('admin.edit_user', id=user.id) }}">{{ user.username }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
