version: '3'

services:
  blog:
    container_name: blog
    build: ./python
    restart: always
    expose:
      - "5050"
    depends_on:
      - database
      - redis
    volumes:
      - ./python:/app
    env_file:
      - ./python/.env

  database:
    container_name: blog_database
    image: postgres:alpine
    restart: always
    volumes:
      - ./python/schema.production.sql:/docker-entrypoint-initdb.d/init.sql
      - blog_data:/var/lib/postgresql/data
    expose:
      - "5432"
    env_file:
      - database.env
  
  redis:
    container_name: blog_redis
    image: redis:alpine
    restart: always
    volumes:
      - blog_redis:/data
    expose:
      - "6379"

volumes:
  blog_data:
  blog_redis:
