{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit {{ form.title.data }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% import 'form-error.html' as errors %}
        {% for element in [form.title, form.body] %}
            {% for error in element.errors %}
                {{ errors.alert(element, error) }}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method="post" class="row py-2">
        {{ form.title.label }}
        {{ form.title(class_='form-control') }}

        {{ form.body.label(class_='mt-2') }}
        {{ form.body(class_='form-control') }}

        {{ form.csrf_token }}

        <input type="submit" value="Save" class="btn btn-primary mt-3">
    </form>
    <form action="{{ url_for('blog.delete', id=post_id) }}" method="post" class="row">
        {{ form.csrf_token }}
        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}
