{%  extends 'base.html' %}

{%  block header %}
    <h1 class="flex-fill">{% block title %}{{ post['title'].title() }}{%  endblock %}</h1>

    {% if g.user_group.CAN_POST and g.user['id'] == post['author_id'] %}
        <a href="{{ url_for('blog.update', id=post['id']) }}" class="btn btn-primary w-10 align-self-center">Edit</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
        <header class="mb-2">
            <div class="text-muted ps-2">by <a href="{{ url_for('user.view', user_id=post['author_id']) }}">{{ post['username'] }}</a> on {{ post['created'] }}</div>
        </header>

        <article class="body">
            {% for para in post['body'].split('\n') %}
                {{ para }}

                {% if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </article>

        {% include 'comment/view.html' %}
    </article>
{% endblock %}
