<article class="comments">
    <header>
        <h2>Comments ({{ comments|length }})</h2>
    </header>
    {% for comment in comments %}
        <article class="comment">
            <header>
                <h3>By {{ comment.username }} on <time>{{ comment.created }}</time></h3>
                {% if g.user['id'] == comment['author_id'] %}
                    <form action="{{ url_for('comment.delete', comment_id=comment['id']) }}" method="post">
                        <input type="submit" value="Delete" class="action comment-delete">
                    </form>
                {% endif %}
            </header>

            <article class="comment-body">{{ comment.body }}</article>
        </article>
    {% endfor %}

    {% if g.user %}
        {% include 'comment/create.html' %}
    {% endif %}
</article>
