* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    background: steelblue;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    flex: auto;
    padding: 5px 10px;
}

header {
    display: flex;
    align-items: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0 10px;
}

nav ul li {
    display: block;
    padding: 5px;
}

.title {
    text-decoration:    none;
    color:              white;
}

.content {
    padding: 5px 10px;
}

.content > header {
    border-bottom: 1px solid lightslategray;
}

.action {
    display: block;
    padding: 2px 30px;
    margin: 6px 0;
    min-width: 60px;
    text-align: center;
    border: 1px solid darkslateblue;
    border-radius: 3px;
    background: lightsteelblue;
}

.post > header > div {
    flex: auto;
    padding: 5px 10px;
}

.about {
    font-size: 0.8rem;
    padding: 0 30px;
}

.body {
    padding: 5px 20px;
}

.login-form {
    margin:     20px auto;
    max-width:  50%;
}

.login-form label {
    padding:    5px 0;
}

input {
    border:         1px solid dimgray;
    border-radius:  3px;
    box-sizing:     border-box;
}

.login-form input[type=submit] {
    background:     lightsteelblue;
    padding:        5px;
    font-size:      1rem;
}

.login-form input {
    width:          100%;
    margin:         5px 0;
    padding:        3px;
}

.comments > header {
    font-size: 0.8rem;
    border-bottom: 1px solid lightslategray;
}

.comment {
    padding: 5px 15px;
    border-bottom: 1px solid lightgrey;
}

.comment > header {
    font-size: 0.8rem;
}

.comment-delete {
    margin: 0;
}

.comment-form {
    padding:    5px;
}

.comment-form > textarea {
    width:          100%;
    border:         1px solid dimgray;
    border-radius:  3px;
    font-size:      1rem;
    box-sizing:     border-box;
    margin:         5px 0;
    padding:        3px;
}

.comment-form > input {
    background:     lightsteelblue;
    padding:        5px;
    width:          100%;
    font-size:      1rem;
}

.comment-body {
    padding:        0 10px;
}

.profile-header {
    border-bottom:  1px solid lightslategray;
    font-size:      0.8rem;
    margin-left:    20px;
}

.profile-body {
    padding:        5px 40px;
}

.profile-body article {
    border-bottom:  1px solid lightgrey;
    padding:        5px 0;
}
