{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Forgot Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% import 'form-error.html' as errors %}
        {% for element in [form.username, form.password] %}
            {% for error in element.errors %}
                {{ errors.alert(element, error) }}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method="post" action="{{ url_for('auth.forgot_password') }}">
        <div class="d-grid">
            {{ form.csrf_token }}

            {{ form.username.label }}
            {{ form.username(class_='form-control') }}
        </div>

        <div class="d-grid gap-2 mt-3">
            <input type="submit" value="Login" class="btn btn-primary mt-2">
        </div>
    </form>
{% endblock %}
