{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% import 'form-error.html' as errors %}
        {% for element in [form.password, form.confirm] %}
            {% for error in element.errors %}
                {{ errors.alert(element, error) }}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method="post" action="{{ url_for('auth.reset_password', token=form.token.data) }}">
        <div class="d-grid">
            {{ form.csrf_token }}

            {{ form.password.label }}
            {{ form.password(class_='form-control') }}

            {{ form.confirm.label }}
            {{ form.confirm(class_='form-control') }}

            {{ form.token }}
        </div>

        <div class="d-grid gap-2 mt-3">
            <input type="submit" value="Login" class="btn btn-primary mt-2">
        </div>
    </form>
{% endblock %}
