<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav>
            <h1><a href="{{ url_for('index') }}" class="title">Flaskr</a></h1>

            <ul>
                {% if g.user %}
                    <li>{{ g.user['username'] }}</li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>

            <div id="flashed-messages-container">
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>

            {% block content %}{% endblock %}
        </section>
    </body>
</html>
