<article id="comments-container" class="my-2">
    <header class="flex-row">
        <h2 id="comments-header" class="border-bottom pb-2">Comments ({{ comments|length }})</h2>
    </header>
    {% for comment in comments %}
        {% include 'comment/comment.html' %}
    {% endfor %}
</article>

{% if g.user_group.CAN_COMMENT %}
    {% include 'comment/create.html' %}
{% endif %}

<script>const commentURL = {{ url_for('comment.create', post_id=post['id'])|tojson }};</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
