{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% import 'form-error.html' as errors %}
        {% for element in [form.username, form.password, form.email] %}
            {% for error in element.errors %}
                {{ errors.alert(element, error) }}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form class="row py-2" method="post" action="{{ url_for('auth.edit_profile') }}">
        {{ form.csrf_token }}

        {{ form.email.label }}
        {{ form.email(class_='form-control') }}

        {{ form.password.label }}
        {{ form.password(class_='form-control') }}

        {{ form.confirm_password.label }}
        {{ form.confirm_password(class_='form-control') }}

        <input type="submit" value="Register" class="btn btn-primary mt-3">
    </form>
{% endblock %}
